body {
    height: 100vh;
    margin: 0;
    display: flex;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.welcome-msg {
    width: 70%;
    margin-top: 5vh;
    font-size: 3vmin;
    background-color: #CEDCEB;
    border-radius: 1vmin;
    padding: 2vh 2vw;
}

.welcome-msg button {
    margin-top: 0;
}

main {
    flex-basis: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main h1 {
    font-size: 7vmin;
    font-family: Impact, sans-serif;
    margin: 0;
    padding: 0 2vmin;
}

main h2 {
    margin: 0;
    font-size: 5vmin;
}

.win-message {
    font-size: 5vmin;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    background-color: #CEDCEB;
    padding: 5vmin 1vmin;
}

.computer-chat {
    width: 75%;
    font-size: 3vmin;
    background-color: #16384E;
    color: #CEDCEB;
    border-radius: 1vmin;
    padding: 1vmin 2vmin;
}

section h3 {
    font-size: 4vmin;
    margin-bottom: 1vmin;
}

section h4 {
    font-size: 3vmin;
}

button {
    margin-top: 5vmin;
    font-size: 3vmin;
    font-family: 'Special Elite', cursive;
    background-color: #16384E;
    color: white;
    border-radius: 1vmin;
    padding: 1vmin 3vmin;
    cursor: pointer;
}

button:hover {
    color: #16384E;
    background-color: white;
}

article {
    background-color: #CEDCEB;
    font-size: 2.5vmin;
    border-radius: 1vmin;
}

.hover:hover {
    scale: 1.1;
    cursor: pointer;
}

#bullpen-rules {
    width: 35%;
}

#annex-rules {
    width: 60%;
}

img {
    height: 20vmin;
    width: 20vmin;
    filter: drop-shadow(1vmin 1vmin 4px #CEDCEB);
}

.avatar {
    height: 25vmin;
    width: 30vmin;
    filter: drop-shadow(1vmin 1vmin 5px #16384E);
}

.icon:hover {
    cursor: pointer;
    scale: 1.2;
    filter: drop-shadow(1.7vmin 1.7vmin 4px #CEDCEB);
}

.logo {
    height: 20vmin;
    width: 75vmin;
    border-radius: 1vmin;
    filter: drop-shadow(2vmin 2vmin 4px #CEDCEB);
}

.hidden {
    display: none;
}

@media screen and (max-width: 130vh) {
    body {
        flex-direction: column;
    }

    main {
        flex-basis: 80%;
    }

    section {
        flex-direction: row;
        flex-basis: 10%;
    }

    .avatar {
        height: 15vmin;
        width: 15vmin;
    }

    .welcome-msg {
        font-size: 2vw;
        margin-top: 0;
    }

    section h3 {
        width: 50%;
        margin: 2vh 4vw;
    }
}